._link {
    text-decoration: none;
    line-height: 30px;
    display: block;
}

.header {
    background-color: #161b22;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;

    span {
        line-height: 50px;
        text-decoration: none;
        font-family: Arial, sans-serif;
        font-weight: bolder;
        color: #eeeeee;
        word-break: break-word;
    }
    span:hover{
        text-decoration: underline grey;
        color: grey;
    }

    .header-index {
        padding: 0 200px;

        .index-link {
            height: 50px;
            padding: 0 20px;
        }
    }
    .header-nav {
        padding: 0 100px;

        .nav {
            height: 50px;
            display: flex;
            padding: 0 20px;

            .link {
                padding: 0 20px;
            }
        }
    }
    .header-user {
        padding: 0 75px;

        .header-user-log {
            height: 50px;
            width: 100px;

            button {
                height: 30px;
                width: 50px;
                margin: 10px 25px;
            }
        }
    }

}


.section {
    background-color: #0d1117;
    padding: 0 0 0 0;
    height: 100px;
    width: 100%;
    display: table;

    .css-table {
        display: table-row;

        .css-table-item-left {
            width: 15%;
            border-right: thin solid grey;
            display: table-cell;
        }
        .css-table-item-main {
            padding: 10px;
            display: table-cell;

            .table {
                background-color: #0d1117;
                border-spacing: 0;
                border-collapse: collapse;

                tbody {
                    border: 1px solid #808080;
                }

                tr {
                    border-top: thin solid #808080;

                    td {
                        margin: 10px;
                        padding: 10px;

                        div {
                            width: 700px;
                        }

                        a {
                            font-family: Arial, sans-serif;
                            color: #c9d1d9;
                            text-decoration: none;
                            word-break: break-word;
                        }
                        a:hover {
                            text-decoration: underline black;
                            color: #58A6FF;
                        }
                        small {
                            font-family: "Microsoft YaHei UI", Arial, sans-serif;
                            color: grey;
                            display: flex;
                            justify-content:space-evenly;

                            .small-group {
                                padding-right: 10px;
                                font-weight: bold;
                                color: #58A6FF;
                            }
                            .small-time {
                                padding-left: 20px;
                                padding-right: 20px;
                                color: #cccccc;
                            }
                        }
                    }
                }
                tr:hover {
                    background-color: #010101;
                }
                tr:last-child{
                    border-bottom: thin solid #808080;
                }
            }
            .title-table {
                background-color: #0d1117;
                border-spacing: 0;
                border-collapse: collapse;

                tbody {
                    border: thin solid #808080;
                }
                tr {
                    border-top: thin solid #808080;
                    .title-table-user {
                        margin: 10px;
                        padding: 10px;
                        font-family: "Microsoft YaHei UI", Arial, sans-serif;
                        color: #c9d1d9;
                    }

                    .title-table-title {
                        margin: 10px;
                        padding: 10px;

                        div {
                            width: 600px;

                            small {
                                .title-table-title-small {
                                    display: flex;
                                    justify-content:space-evenly;

                                    font-family: "Microsoft YaHei UI", Arial, sans-serif;
                                    color: grey;

                                    .title-table-title-label-span {
                                        color: #58A6FF;
                                    }
                                }
                            }
                        }

                        a {
                            font-family: Arial, sans-serif;
                            color: #c9d1d9;
                            text-decoration: none;
                            word-break: break-word;
                        }
                        a:hover {
                            text-decoration: underline black;
                            color: #58A6FF;
                        }
                    }
                }
                tr:hover {
                    background-color: #010101;
                }
                tr:last-child{
                    border-bottom: thin solid #808080;
                }
            }
        }
        .css-table-item-right {
            border-left: thin solid grey;
            width: 33%;
            background-color: #0d1117;
            display: table-cell;
        }
    }
}


.mm{
    display: block;
    position: fixed;
    z-index: 10;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,.6);
}
.mm .login{
    width: 400px;
    height: 300px;
    padding: 20px;
    background: #fff;
    position: fixed;
    left: 50%;
    margin-left: -200px;
    top: 200px;
}

.mm .login label {
    display: block;
    font: .9rem 'Fira Sans', sans-serif;
}

.mm .login input[type='submit'],
.mm .login label {
    margin-top: 1rem;
}

