._link {
    text-decoration: none;
    line-height: 30px;
    display: block;
}

.header-cls {
    width: 100%;
    height: 50px;
}

.header-cls_left {
    width: 80%;
    /*height: 100%;*/
    float: left;
    margin: auto;
}

.header-cls_right {
    width: 20%;
    height: 100%;
    float: left;
}

.header-cls_left p {
    width: 100%;
}